Gambaran Umum :
1. Melayani pendaftaran siswa 
2. Sistem dirancang agar sederhana, mudah digunakan, tidak memasukkan data atau berkas yang tidak penting atau belum penting. (Gambaran Umum, poin 3)

ASPEK TEKNIS :
1. Proses pendaftaran bisa dilakukan oleh Siswa maupun guru (calon siswa nitip data ke guru)
2. Berkas dapat diterima berupa foto maupun file gambar 
3. Tahap penyetoran berkas dan biodata bertahap :
    tahap daftar awal dan tahap daftar ulang
4. Bila yang mendaftar siswa langsung, wajib memasukkan berkas pendaftaran, bila yang mendaftarkan guru maka berkas boleh disetor offline
5. Saat siswa mendaftar awal, tidak perlu login. Tapi setelah daftar ulang diterima, diberikan akun untuk login. 
6. Siswa login dapat melihat informasi pengumuman, dan melakukan daftar ulang bila sudah dibuka dan atau dinyatakan lulus.
7.1 Entry data Raport minimal 3 semester untuk seleksi otomatis berdasarkan nilai rapor.
7.2 mapel yang dientry bisa di-custom oleh admin, dan bisa ditiadakan (tanpa seleksi melalui nilai rapor)

OUTPUT :
1. Dapat melihat pendaftar per wilayah, per sekolah asal, dan per pendaftar (guru yang dititipi)
2. Dapat melihat kelengkapan berkas yang kurang (sudah disetor atau belum)
